<!-- Load the Polymer.Element base class -->
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="my-form">
  <!-- Defines the element's style and local DOM -->
  <template>
    <style>
      :host {
        display: block;

        padding: 16px;
      }
      .green {
        background-color: #00e600;
        color: #EEE;
      }
    </style>

    <paper-input label="student name"></paper-input>
    <paper-button raised class="green" role="button" tabindex="0"  elevation="0" aria-disabled="false">Save</paper-button>
  </template>
  <script>
    // Your new element extends the Polymer.Element base class
    class MyForm extends Polymer.Element {
      static get is() { return 'my-form'; }
    }
    //Now, register your new custom element so the browser can use it
    customElements.define(MyForm.is, MyForm);
  </script>
</dom-module>
